RewriteEngine on
RewriteBase /

RewriteCond "%{QUERY_STRING}" "^akka/stream(.*)"
RewriteRule ^japi/akka-stream-and-http-experimental/[^/]+/index.html https://doc.akka.io/japi/akka/current/akka/stream%1 [L,R=301,NE]

RewriteCond "%{QUERY_STRING}" "^akka/http(.*)"
RewriteRule ^japi/akka-stream-and-http-experimental\/[^/]+\/index\.html$ https://doc.akka.io/japi/akka-http/current/akka/http%1 [L,R=301,NE]


# Enno 2019-04-11
# https://htaccess.madewithlove.be/
RedirectMatch 301 ^/docs/([^/]+)/$ https://doc.akka.io/docs/$1/current/

# Enno 2019-06-26 replace symlink with redirect
RedirectMatch 301 ^/docs/akka-stream-kafka/(.+)$ https://doc.akka.io/docs/alpakka-kafka/$1

# Enno 2019-07-03 no api docs for Couchbase
RedirectMatch 301 ^/api/akka-persistence-couchbase/(.*)$ https://doc.akka.io/docs/akka-persistence-couchbase/current/index.html

# Enno 2019-08-22 https://github.com/akka/akka.github.com/issues/611
RedirectMatch 301 ^/docs/akka/new-docs-snapshot/(.*)$ https://doc.akka.io/docs/akka/2.5/$1
RedirectMatch 301 ^/docs/akka/2.2.4_old/(.*)$ https://doc.akka.io/docs/akka/2.2.4/$1
RedirectMatch 301 ^/docs/akka/2.3.2_issue_tracking/(.*)$ https://doc.akka.io/docs/akka/2.3.2/$1
RedirectMatch 301 ^/docs/akka/2.3.6_old/(.*)$ https://doc.akka.io/docs/akka/2.3.6/$1
RedirectMatch 301 ^/docs/akka/new-docs-quickstart-snapshot/(.*)$ https://doc.akka.io/docs/akka/current/guide/index.html
RedirectMatch 301 ^/docs/akka/old-rp/(.*)$ https://akka.io/docs/

# Enno 2019-10-22
RedirectMatch 301 ^/docs/alpakka-kafka/1.0-M1/(.*)$ https://docs.akka.io/docs/alpakka-kafka/1.0/$1
RedirectMatch 301 ^/docs/alpakka-kafka/1.0-RC1/(.*)$ https://docs.akka.io/docs/alpakka-kafka/1.0/$1
RedirectMatch 301 ^/docs/alpakka-kafka/1.0-RC2/(.*)$ https://docs.akka.io/docs/alpakka-kafka/1.0/$1
RedirectMatch 301 ^/api/alpakka-kafka/1.0-M1/(.*)$ https://docs.akka.io/api/alpakka-kafka/1.0/$1
RedirectMatch 301 ^/api/alpakka-kafka/1.0-RC1/(.*)$ https://docs.akka.io/api/alpakka-kafka/1.0/$1
RedirectMatch 301 ^/api/alpakka-kafka/1.0-RC2/(.*)$ https://docs.akka.io/api/alpakka-kafka/1.0/$1

# Enno 2019-10-31
RedirectMatch 301 ^/docs/?$ https://akka.io/docs/

# Enno 2019-12-04
RedirectMatch 301 ^/(docs|api|japi)/akka/1.1/(.*)$ /$1/akka/1.1.3/$2
RedirectMatch 301 ^/(docs|api|japi)/akka/1.1.1/(.*)$ /$1/akka/1.1.3/$2
RedirectMatch 301 ^/(docs|api|japi)/akka/1.1.2/(.*)$ /$1/akka/1.1.3/$2

RedirectMatch 301 ^/(docs|api|japi)/akka/1.3/(.*)$ /$1/akka/1.3.1/$2

RedirectMatch 301 ^/(docs|api|japi)/akka/2.0/(.*)$ /$1/akka/2.0.5/$2
RedirectMatch 301 ^/(docs|api|japi)/akka/2.0.1/(.*)$ /$1/akka/2.0.5/$2
RedirectMatch 301 ^/(docs|api|japi)/akka/2.0.2/(.*)$ /$1/akka/2.0.5/$2
RedirectMatch 301 ^/(docs|api|japi)/akka/2.0.3/(.*)$ /$1/akka/2.0.5/$2
RedirectMatch 301 ^/(docs|api|japi)/akka/2.0.4/(.*)$ /$1/akka/2.0.5/$2

RedirectMatch 301 ^/(docs|api|japi)/akka/2.1.\d+/(.*)$ /$1/akka/2.1/$2

RedirectMatch 301 ^/(docs|api|japi)/akka/2.2.\d+/(.*)$ /$1/akka/2.2/$2

RedirectMatch 301 ^/(docs|api|japi)/akka/2.3.\d+/(.*)$ /$1/akka/2.3/$2

RedirectMatch 301 ^/(docs|api|japi)/akka/2.4.\d+/(.*)$ /$1/akka/2.4/$2
RedirectMatch 301 ^/(docs|api|japi)/akka/2.4.11.\d+/(.*)$ /$1/akka/2.4/$2

# Enno 2019-12-05
RedirectMatch 301 ^/(docs|api|japi)/akka/2.6.0-M\d/(.*)$ /$1/akka/2.6/$2
RedirectMatch 301 ^/(docs|api|japi)/akka/2.6.0-RC\d/(.*)$ /$1/akka/2.6/$2

# Enno 2019-12-11
RedirectMatch 301 ^/docs/akka/old-akka-commercial-addons-1.0.0/.*$ /docs/akka-enhancements/current/
