RewriteEngine on
RewriteBase /

RedirectMatch 404 /\.git

# old reactive-platform urls all redirect to akka commercial addons
# The following one is not needed anymore, as the commercial addons docs are back to akka.io
# RedirectMatch 301 ^(.*)split-brain-resolver.html https://developer.lightbend.com/docs/akka-commercial-addons/current/split-brain-resolver.html
RedirectMatch 301 ^/docs/akka/rp-(.*) https://doc.akka.io/docs/akka-enhancements/current/

# https://serverfault.com/questions/847903/apache-directoryslash-redirects-https-requests-back-to-http
# moved to /etc/apache2/sites-enabled/001-akka.io.conf
#RewriteEngine on
#RewriteOptions AllowNoSlash
#RewriteCond %{HTTP:X-Forwarded-Proto} =https
#RewriteCond %{LA-U:REQUEST_FILENAME} -d
#RewriteRule ^/(.*[^/])$ https://%{HTTP_HOST}/$1/ [R=301,L,QSA]

# incorrect links found 'in the wild'
# http://bbs.bugcode.cn/t/57578
Redirect 301 /api/akka- https://doc.akka.io/api/akka/current
# https://nordicapis.com/8-frameworks-to-build-a-web-api-in-scala
Redirect 301 "/docs/Akka HTTP/current/" https://doc.akka.io/docs/akka-http/current/
RedirectMatch 301 ^/(docs|api|japi)/alpakka/latest(.*) https://doc.akka.io/$1/alpakka/snapshot$2

RedirectMatch 301 ^/docs/akka/[^/]+/scala/scaladoc.* https://doc.akka.io/api/akka/current

# broken image links
RedirectMatch 301 ^/docs/akka/images(.*) https://doc.akka.io/docs/akka/current/images$1

# typed moving around
RedirectMatch 301 ^/api/akka/(current|snapshot|2.5)/akka/typed(.*) https://doc.akka.io/api/akka/$1/akka/actor/typed$2
Redirect 301 /typed-actors-java https://doc.akka.io/docs/akka/current/typed-actors.html?language=java
RedirectMatch 301 ^/docs/akka/(current|snapshot|2.5)/typed.html https://doc.akka.io/docs/akka/$1/typed/index.html
RedirectMatch 301 ^/docs/akka/2.5.([0-9][0-9])/typed.html https://doc.akka.io/docs/akka/2.5.$1/typed/index.html

# akka-stream-and-http-experimental
RedirectMatch 301 ^/docs/akka-stream-and-http-experimental/[^/]+/(java|scala)/stream-graphs.html https://doc.akka.io/docs/akka/current/stream/stream-graphs.html?language=$1
RedirectMatch 301 ^/docs/akka-stream-and-http-experimental/[^/]+/stages-overview.html https://doc.akka.io/docs/akka/current/stream/operators/index.html
RedirectMatch 301 ^/docs/akka-stream-and-http-experimental/[^/]+/scala.html https://doc.akka.io/docs/akka/current/stream/?language=scala
RedirectMatch 301 ^/docs/akka-stream-and-http-experimental/[^/]+/(java|scala).html https://doc.akka.io/docs/akka/current/stream/?language=$1
RedirectMatch 301 ^/docs/akka-stream-and-http-experimental/[^/]+/(java|scala)/(.*) https://doc.akka.io/docs/akka/current/stream/$2?language=$1
RedirectMatch 301 ^/api/akka-stream-and-http-experimental/[^/]+/akka/stream(.*) https://doc.akka.io/api/akka/current/akka/stream$2
RedirectMatch 301 ^/api/akka-stream-and-http-experimental/[^/]+/akka/http(.*) https://doc.akka.io/api/akka-http/current/akka/http$2
RedirectMatch 301 ^/(j?api)/akka-stream-and-http-experimental/[^/]+/akka/stream(.*) https://doc.akka.io/$1/akka/current/akka/stream$2
RedirectMatch 301 ^/(j?api)/akka-stream-and-http-experimental/[^/]+/akka/http(.*) https://doc.akka.io/$1/akka-http/current/akka/http$2
RedirectMatch 301 ^/docs/akka-stream-and-http-experimental/[^/]+/scala/http(.*) https://doc.akka.io/docs/akka-http/current$1

# Akka-http
RedirectMatch 301 ^/docs/akka/current/scala/http/$ https://doc.akka.io/docs/akka-http/current/scala.html
RedirectMatch 301 ^/docs/akka/current/scala/http/(.+) https://doc.akka.io/docs/akka-http/current/scala/http/$1
RedirectMatch 301 ^/docs/akka/2.5.[^/]+/([^/]+)/http/(.+) https://doc.akka.io/docs/akka-http/current/$1/http/$2
RedirectMatch 301 ^/docs/akka/2.4/([^/]+)/http/(.+) https://doc.akka.io/docs/akka-http/current/$2?language=$1
RedirectMatch 301 ^/docs/akka/current/java/http/$ https://doc.akka.io/docs/akka-http/current/java.html
RedirectMatch 301 ^/docs/akka/current/java/http/(.+) https://doc.akka.io/docs/akka-http/current/java/http/$1

RedirectMatch 301 ^/docs/akka-http/([^/]+)/scala.html$ https://doc.akka.io/docs/akka-http/$1/scala/http/
RedirectMatch 301 ^/docs/akka-http/([^/]+)/java.html$ https://doc.akka.io/docs/akka-http/$1/java/http/

RedirectMatch 301 ^/docs/akka/2.5.([2-6])/general(.*) https://doc.akka.io/docs/akka/2.5.$1/scala/general$2
RedirectMatch 301 ^/docs/akka/2.5.([2-6])/additional(.*) https://doc.akka.io/docs/akka/2.5.$1/scala/additional$2
RedirectMatch 301 ^/docs/akka/2.5.([2-6])/common(.*) https://doc.akka.io/docs/akka/2.5.$1/scala/common$2
RedirectMatch 301 ^/docs/akka/2.5.([2-6])/project(.*) https://doc.akka.io/docs/akka/2.5.$1/scala/project$2
RedirectMatch 301 ^/docs/akka/2.5.([2-6])/security(.*) https://doc.akka.io/docs/akka/2.5.$1/scala/security$2

RedirectMatch 301 ^/api/akka/akka/http(.*) https://doc.akka.io/api/akka-http/current/akka/http$1

# Akka documentation entrypoint
Redirect 301 /docs/akka/snapshot/scala.html https://doc.akka.io/docs/akka/snapshot/?language=scala
Redirect 301 /docs/akka/snapshot/java.html https://doc.akka.io/docs/akka/snapshot/?language=java
Redirect 301 /docs/akka/scala https://doc.akka.io/docs/akka/current?language=scala
Redirect 301 /docs/akka/java https://doc.akka.io/docs/akka/current?language=java

Redirect 301 /docs/akka/current/scala.html https://doc.akka.io/docs/akka/current/?language=scala
Redirect 301 /docs/akka/current/java.html https://doc.akka.io/docs/akka/current/?language=java
RedirectMatch 301 ^/docs/akka/2.6.(\d+)/scala.html$ https://doc.akka.io/docs/akka/2.6.$1/?language=scala
RedirectMatch 301 ^/docs/akka/2.6.(\d+)/java.html$ https://doc.akka.io/docs/akka/2.6.$1/?language=java
RedirectMatch 301 ^/docs/akka/2.5.([2-6])/scala.html$ https://doc.akka.io/docs/akka/2.5.$1/scala/
RedirectMatch 301 ^/docs/akka/2.5.([2-6])/java.html$ https://doc.akka.io/docs/akka/2.5.$1/java/
RedirectMatch 301 ^/docs/akka/2.5.([7-9])/scala.html$ https://doc.akka.io/docs/akka/2.5.$1/?language=scala
RedirectMatch 301 ^/docs/akka/2.5.([7-9])/java.html$ https://doc.akka.io/docs/akka/2.5.$1/?language=java
RedirectMatch 301 ^/docs/akka/2.5.([0-9][0-9])/scala.html$ https://doc.akka.io/docs/akka/2.5.$1/?language=scala
RedirectMatch 301 ^/docs/akka/2.5.([0-9][0-9])/java.html$ https://doc.akka.io/docs/akka/2.5.$1/?language=java

# Various old URL's
Redirect 301 /docs/akka/current/intro/what-is-akka.html https://doc.akka.io/docs/akka/current/guide/introduction.html
Redirect 301 /docs/akka/snapshot/intro/what-is-akka.html https://doc.akka.io/docs/akka/snapshot/guide/introduction.html
RedirectMatch 301 /docs/akka/2.5.([2-6])/intro/ https://doc.akka.io/docs/akka/2.5.$1/scala/guide/introduction.html
RedirectMatch 301 /docs/akka/2.5.([6-9])/intro/ https://doc.akka.io/docs/akka/2.5.$1/guide/introduction.html
RedirectMatch 301 /docs/akka/2.5.([0-9][0-9])/intro/ https://doc.akka.io/docs/akka/2.5.$1/guide/introduction.html
Redirect 301 /docs/akka/snapshot/dev/multi-node-testing.html https://doc.akka.io/docs/akka/snapshot/multi-node-testing.html
Redirect 301 /docs/akka/snapshot/cluster/cluster.html https://doc.akka.io/docs/akka/snapshot/common/cluster.html
RedirectMatch 301 ^/docs/akka/snapshot/([^/]+)/untyped-actors.html https://doc.akka.io/docs/akka/snapshot/$2/actors.html
RedirectMatch 301 ^/docs/akka/current/([^/]+)/untyped-actors.html https://doc.akka.io/docs/akka/current/$2/actors.html
RedirectMatch 301 ^/docs/akka/2.5([^/]+)/([^/]+)/untyped-actors.html https://doc.akka.io/docs/akka/2.5$1/$2/actors.html
RedirectMatch 301 ^/actors-scala$ https://doc.akka.io/docs/akka/current/actors.html?language=scala
RedirectMatch 301 ^/release-notes$ https://akka.io/news/
Redirect 301 /docs/akka/snapshot/cluster/cluster-usage-java.html https://doc.akka.io/docs/akka/snapshot/cluster-usage.html?language=java
Redirect 301 /docs/akka/snapshot/cluster/cluster-usage-scala.html https://doc.akka.io/docs/akka/snapshot/cluster-usage.html?language=scala
Redirect 301 /docs/akka/current/project/release-notes.html https://akka.io/news/
Redirect 301 /docs/akka-http/current/scala/http/routing-dsl/websocket-support.html https://doc.akka.io/docs/akka-http/current/java/http/server-side/websocket-support.html
Redirect 301 /docs/akka/current/contrib/cluster-singleton.html https://doc.akka.io/docs/akka/current/cluster-singleton.html
Redirect 301 /docs/akka/snapshot/contrib/reliable-proxy.html https://doc.akka.io/docs/akka/snapshot/project/migration-guide-2.4.x-2.5.x.html#reliableproxy
Redirect 301 /docs/akka/current/contrib/reliable-proxy.html https://doc.akka.io/docs/akka/current/project/migration-guide-2.4.x-2.5.x.html#reliableproxy
RedirectMatch 301 ^/api/akka-http/([^/]+)/akka/akka/(.*) https://doc.akka.io/api/akka-http/$1/akka/$2
RedirectMatch 301 ^/java/$ https://doc.akka.io/docs/akka/current/index.html?language=java
RedirectMatch 301 ^/docs/akka/(current|snapshot|2.5[^/]+)/contrib/distributed-pub-sub.html$ https://doc.akka.io/docs/akka/$1/distributed-pub-sub.html
RedirectMatch 301 ^/docs/akka/snapshot/contrib/cluster-singleton.html$ https://doc.akka.io/docs/akka/snapshot/cluster-singleton.html
Redirect 301 /untyped-actors-java https://doc.akka.io/docs/akka/current/actors.html?language=java
Redirect 301 /amqp https://doc.akka.io/docs/alpakka/current/amqp.html
Redirect 301 /stm-java https://github.com/akka/akka/issues/13921
Redirect 301 /remote-actors-java https://doc.akka.io/docs/akka/current/remoting.html?language=java
Redirect 301 /docs/akka/current/dev/building-akka.html https://github.com/akka/akka/blob/master/CONTRIBUTING.md#sbt
RedirectMatch 301 ^/docs/akka/2.5.[0-9]+/dev/building-akka.html https://github.com/akka/akka/blob/master/CONTRIBUTING.md#sbt
Redirect 301 /docs/akka-http/current/scala/http/path-matchers.html https://doc.akka.io/docs/akka-http/current/scala/http/routing-dsl/path-matchers.html
RedirectMatch 301 ^/http$ https://doc.akka.io/docs/akka-http/current/index.html
Redirect 301 /docs/akka/snapshot/stream/migration-guide-2.0-2.4-scala.html https://doc.akka.io/docs/akka/2.4/scala/stream/migration-guide-2.0-2.4-scala.html
Redirect 301 /docs/akka/snapshot/stream/migration-guide-2.0-2.4-java.html https://doc.akka.io/docs/akka/2.4/java/stream/migration-guide-2.0-2.4-java.html
RedirectMatch 301 ^/docs/akka/scala/stream/(.*) https://doc.akka.io/docs/akka/current/stream/$1?language=scala

# Removed M and RC versions
RedirectMatch 301 ^/(docs|api|japi)/akka/2.0.[1-2]-RC1(.*) https://doc.akka.io/$1/akka/2.0$2
RedirectMatch 301 ^/(docs|api|japi)/akka/2.1-M[1-2](.*) https://doc.akka.io/$1/akka/2.1$2
RedirectMatch 301 ^/(docs|api|japi)/akka/2.1.0-RC[1-6](.*) https://doc.akka.io/$1/akka/2.1$2
RedirectMatch 301 ^/(docs|api|japi)/akka/2.2-M[1-5](.*) https://doc.akka.io/$1/akka/2.2$2
RedirectMatch 301 ^/(docs|api|japi)/akka/2.2.0-RC[1-2](.*) https://doc.akka.io/$1/akka/2.2$2
RedirectMatch 301 ^/(docs|api|japi)/akka/2.3-M[1-2](.*) https://doc.akka.io/$1/akka/2.3$2
RedirectMatch 301 ^/(docs|api|japi)/akka/2.3.0-RC[1-4](.*) https://doc.akka.io/$1/akka/2.3$2
RedirectMatch 301 ^/(docs|api|japi)/akka/2.4-M[1-3](.*) https://doc.akka.io/$1/akka/2.4$2
RedirectMatch 301 ^/(docs|api|japi)/akka/2.4.[0-2]-RC[1-3](.*) https://doc.akka.io/$1/akka/2.4$2
RedirectMatch 301 ^/(docs|api|japi)/akka/2.4.9-RC[1-2](.*) https://doc.akka.io/$1/akka/2.4$2
RedirectMatch 301 ^/(docs|api|japi)/akka/2.5-M[1-2](.*) https://doc.akka.io/$1/akka/2.5$2
RedirectMatch 301 ^/(docs|api|japi)/akka/2.5.0-RC[1-2](.*) https://doc.akka.io/$1/akka/2.5$2
RedirectMatch 301 ^/(docs|api|japi)/akka-stream-kafka/0.11-RC2(.*) https://doc.akka.io/$1/akka-stream-kafka/0.11$2

# Hide AP Spanner
RedirectMatch 301 ^/(docs|api)/akka-persistence-spanner/(.*)$ https://doc.akka.io/docs/akka/current/typed/persistence.html

# Old Alpakka versions
RedirectMatch 301 ^/(docs|api)/alpakka/0.(\d+)(/?|/.*)$ https://doc.akka.io/$1/alpakka/current$3
RedirectMatch 301 ^/docs/alpakka/v17/(.*) https://doc.akka.io/docs/alpakka/current/$1
# Enno 2023-05-08
RedirectMatch 301 ^/(docs|api)/alpakka/1.0-(M|RC).(/?|/.*)$ https://doc.akka.io/$1/alpakka/1.0$3
RedirectMatch 301 ^/(docs|api)/alpakka/1.0.0(/?|/.*)$ https://doc.akka.io/$1/alpakka/1.0$2
RedirectMatch 301 ^/(docs|api)/alpakka/1.0.1(/?|/.*)$ https://doc.akka.io/$1/alpakka/1.0$2
RedirectMatch 301 ^/(docs|api)/alpakka/1.1.0(/?|/.*)$ https://doc.akka.io/$1/alpakka/1.1$2
RedirectMatch 301 ^/(docs|api)/alpakka/1.1.1(/?|/.*)$ https://doc.akka.io/$1/alpakka/1.1$2
RedirectMatch 301 ^/(docs|api)/alpakka/2.0.0-(M|RC).(/?|/.*)$ https://doc.akka.io/$1/alpakka/2.0$3
RedirectMatch 301 ^/(docs|api)/alpakka/2.0.0(/?|/.*)$ https://doc.akka.io/$1/alpakka/2.0$2
RedirectMatch 301 ^/(docs|api)/alpakka/2.0.1(/?|/.*)$ https://doc.akka.io/$1/alpakka/2.0$2
RedirectMatch 301 ^/(docs|api)/alpakka/3.0.0-(M|RC).(/?|/.*)$ https://doc.akka.io/$1/alpakka/3.0$3
RedirectMatch 301 ^/(docs|api)/alpakka/3.0.0(/?|/.*)$ https://doc.akka.io/$1/alpakka/3.0$2
RedirectMatch 301 ^/(docs|api)/alpakka/3.0.1(/?|/.*)$ https://doc.akka.io/$1/alpakka/3.0$2
RedirectMatch 301 ^/(docs|api)/alpakka/3.0.2(/?|/.*)$ https://doc.akka.io/$1/alpakka/3.0$2
RedirectMatch 301 ^/(docs|api)/alpakka/3.0.3(/?|/.*)$ https://doc.akka.io/$1/alpakka/3.0$2

RewriteCond "%{QUERY_STRING}" "^akka/stream(.*)"
RewriteRule ^japi/akka-stream-and-http-experimental/[^/]+/index.html https://doc.akka.io/japi/akka/current/akka/stream%1 [L,R=301,NE]

RewriteCond "%{QUERY_STRING}" "^akka/http(.*)"
RewriteRule ^japi/akka-stream-and-http-experimental\/[^/]+\/index\.html$ https://doc.akka.io/japi/akka-http/current/akka/http%1 [L,R=301,NE]


# Enno 2019-04-11
# https://htaccess.madewithlove.be/
RedirectMatch 301 ^/docs/([^/]+)/$ https://doc.akka.io/docs/$1/current/

# Enno 2019-06-26 replace symlink with redirect
RedirectMatch 301 ^/docs/akka-stream-kafka/(.+)$ https://doc.akka.io/docs/alpakka-kafka/$1

# Enno 2019-07-03 no api docs for Couchbase, dropped Couchbase 2021-12-22
RedirectMatch 301 ^/api/akka-persistence-couchbase/(.*)$ https://doc.akka.io/docs/akka/current/persistence-plugins.html

# Enno 2019-08-22 https://github.com/akka/akka.github.com/issues/611
RedirectMatch 301 ^/docs/akka/new-docs-snapshot/(.*)$ https://doc.akka.io/docs/akka/2.5/$1
RedirectMatch 301 ^/docs/akka/2.2.4_old/(.*)$ https://doc.akka.io/docs/akka/2.2.4/$1
RedirectMatch 301 ^/docs/akka/2.3.2_issue_tracking/(.*)$ https://doc.akka.io/docs/akka/2.3.2/$1
RedirectMatch 301 ^/docs/akka/2.3.6_old/(.*)$ https://doc.akka.io/docs/akka/2.3.6/$1
RedirectMatch 301 ^/docs/akka/new-docs-quickstart-snapshot/(.*)$ https://doc.akka.io/docs/akka/current/guide/index.html
RedirectMatch 301 ^/docs/akka/old-rp/(.*)$ https://akka.io/docs/

# Enno 2019-10-22
RedirectMatch 301 ^/docs/alpakka-kafka/1.0-M1/(.*)$ https://doc.akka.io/docs/alpakka-kafka/1.0/$1
RedirectMatch 301 ^/docs/alpakka-kafka/1.0-RC1/(.*)$ https://doc.akka.io/docs/alpakka-kafka/1.0/$1
RedirectMatch 301 ^/docs/alpakka-kafka/1.0-RC2/(.*)$ https://doc.akka.io/docs/alpakka-kafka/1.0/$1
RedirectMatch 301 ^/api/alpakka-kafka/1.0-M1/(.*)$ https://doc.akka.io/api/alpakka-kafka/1.0/$1
RedirectMatch 301 ^/api/alpakka-kafka/1.0-RC1/(.*)$ https://doc.akka.io/api/alpakka-kafka/1.0/$1
RedirectMatch 301 ^/api/alpakka-kafka/1.0-RC2/(.*)$ https://doc.akka.io/api/alpakka-kafka/1.0/$1

# Enno 2019-10-31
RedirectMatch 301 ^/docs/?$ https://akka.io/docs/

# Enno 2019-12-04
RedirectMatch 301 ^/(docs|api|japi)/akka/1.1/(.*)$ https://doc.akka.io/$1/akka/1.1.3/$2
RedirectMatch 301 ^/(docs|api|japi)/akka/1.1.1/(.*)$ https://doc.akka.io/$1/akka/1.1.3/$2
RedirectMatch 301 ^/(docs|api|japi)/akka/1.1.2/(.*)$ https://doc.akka.io/$1/akka/1.1.3/$2

RedirectMatch 301 ^/(docs|api|japi)/akka/1.3/(.*)$ https://doc.akka.io/$1/akka/1.3.1/$2

RedirectMatch 301 ^/(docs|api|japi)/akka/2.0/(.*)$ https://doc.akka.io/$1/akka/2.0.5/$2
RedirectMatch 301 ^/(docs|api|japi)/akka/2.0.1/(.*)$ https://doc.akka.io/$1/akka/2.0.5/$2
RedirectMatch 301 ^/(docs|api|japi)/akka/2.0.2/(.*)$ https://doc.akka.io/$1/akka/2.0.5/$2
RedirectMatch 301 ^/(docs|api|japi)/akka/2.0.3/(.*)$ https://doc.akka.io/$1/akka/2.0.5/$2
RedirectMatch 301 ^/(docs|api|japi)/akka/2.0.4/(.*)$ https://doc.akka.io/$1/akka/2.0.5/$2

RedirectMatch 301 ^/(docs|api|japi)/akka/2.1.\d+/(.*)$ https://doc.akka.io/$1/akka/2.1/$2

RedirectMatch 301 ^/(docs|api|japi)/akka/2.2.\d+/(.*)$ https://doc.akka.io/$1/akka/2.2/$2

RedirectMatch 301 ^/(docs|api|japi)/akka/2.3.\d+/(.*)$ https://doc.akka.io/$1/akka/2.3/$2

RedirectMatch 301 ^/(docs|api|japi)/akka/2.4.\d+/(.*)$ https://doc.akka.io/$1/akka/2.4/$2
RedirectMatch 301 ^/(docs|api|japi)/akka/2.4.11.\d+/(.*)$ https://doc.akka.io/$1/akka/2.4/$2

# Enno 2019-12-05
RedirectMatch 301 ^/(docs|api|japi)/akka/2.6.0-M\d/(.*)$ https://doc.akka.io/$1/akka/2.6/$2
RedirectMatch 301 ^/(docs|api|japi)/akka/2.6.0-RC\d/(.*)$ https://doc.akka.io/$1/akka/2.6/$2

# Enno 2019-12-11
RedirectMatch 301 ^/docs/akka/old-akka-commercial-addons-1.0.0/.*$ https://doc.akka.io/docs/akka-enhancements/current/#anchor

# Enno 2019-12-20
RedirectMatch 301 ^/alpakka-samples/(.*)$ https://akka.io/alpakka-samples/$1
RedirectMatch 301 ^/alpakka-samples$ https://akka.io/alpakka-samples/

# Enno 2020-02-10
RedirectMatch 301 ^/api/0.10(.*)$ https://akka.io/
RedirectMatch 301 ^/api/1.0/(.*)$ https://akka.io
RedirectMatch 301 ^/(api|japi)/akka-stream-experimental(.*)$ https://doc.akka.io/docs/akka/current/stream/
RedirectMatch 301 ^/(docs|api)/akka-modules(.*)$ https://github.com/akka/akka-modules

# Enno 2020-04-01
RedirectMatch 301 ^/downloads(.*)$ https://akka.io/try-akka/

# Enno 2020-05-04 (drop Akka 2.5.0 - 2.5.19), 2022-10-18 drop all but 2.5.32
RedirectMatch 301 ^/(docs|api|japi)/akka/2.5.\d/(.*)$ https://doc.akka.io/$1/akka/2.5/$2
RedirectMatch 301 ^/(docs|api|japi)/akka/2.5.1\d/(.*)$ https://doc.akka.io/$1/akka/2.5/$2
RedirectMatch 301 ^/(docs|api|japi)/akka/2.5.2\d/(.*)$ https://doc.akka.io/$1/akka/2.5/$2
RedirectMatch 301 ^/(docs|api|japi)/akka/2.5.30/(.*)$ https://doc.akka.io/$1/akka/2.5/$2
RedirectMatch 301 ^/(docs|api|japi)/akka/2.5.31/(.*)$ https://doc.akka.io/$1/akka/2.5/$2

# Enno 2020-05-05, dropped Couchbase 2021-12-22
RedirectMatch 301 ^/docs/akka-persistence-couchbase/(.*)$ https://doc.akka.io/docs/akka/current/persistence-plugins.html

# Enno 2022-10-18
RedirectMatch 301 ^/(docs|api|japi)/akka-persistence-cassandra/0.(\d*)/(.*)$ https://doc.akka.io/$1/akka-persistence-cassandra/1.0/$3
RedirectMatch 301 ^/(docs|api|japi)/akka-persistence-cassandra/1.0.(0|1|2|3|4|5)/(.*)$ https://doc.akka.io/$1/akka-persistence-cassandra/1.0.6/$3
RedirectMatch 301 ^/(docs|api|japi)/akka-persistence-cassandra/1.1.(0-M\d|0)/(.*)$ https://doc.akka.io/$1/akka-persistence-cassandra/1.1.1/$3

# Enno 2020-06-22 (drop Akka HTTP 10.0.x)
RedirectMatch 301 ^/(docs|api|japi)/akka-http/10.0.\d+/(.*)$ https://doc.akka.io/$1/akka-http/10.0/$2

# Enno 2022-10-18 (drop Akka HTTP 10.1.0-14)
RedirectMatch 301 ^/(docs|api|japi)/akka-http/10.1.\d/(.*)$ https://doc.akka.io/$1/akka-http/10.1/$2
RedirectMatch 301 ^/(docs|api|japi)/akka-http/10.1.1[0-4]/(.*)$ https://doc.akka.io/$1/akka-http/10.1/$2

# Enno 2022-10-18 (drop Akka HTTP 10.2.x -M & -RC)
RedirectMatch 301 ^/(docs|api|japi)/akka-http/10.2.(\d*)-(M|RC)\d*/(.*)$ https://doc.akka.io/$1/akka-http/10.2.$2/$4

# Enno 2020-12-15, 2023-06-07
RedirectMatch 301 ^/(docs|api)/akka-persistence-jdbc/3.5.2/(.*)$ https://doc.akka.io/$1/akka-persistence-jdbc/3.5.3/$2
RedirectMatch 301 ^/(docs|api)/akka-persistence-jdbc/4.0.0-RC\d/(.*)$ https://doc.akka.io/$1/akka-persistence-jdbc/4.0.0/$2
RedirectMatch 301 ^/(docs|api)/akka-persistence-jdbc/5.0.(0|0-RC1|1|2|3)/(.*)$ https://doc.akka.io/$1/akka-persistence-jdbc/5.0.4/$2
RedirectMatch 301 ^/(docs|api)/akka-persistence-jdbc/5.2.(0|0-M\d)/(.*)$ https://doc.akka.io/$1/akka-persistence-jdbc/5.2.1/$2

# Enno 2023-06-07
RedirectMatch 301 ^/(docs|api)/akka-persistence-r2dbc/0.\d.\d/(.*)$ https://doc.akka.io/$1/akka-persistence-r2dbc/1.0.1/$2
RedirectMatch 301 ^/(docs|api)/akka-persistence-r2dbc/1.0.(0|0-M\d)/(.*)$ https://doc.akka.io/$1/akka-persistence-r2dbc/1.0.1/$2
RedirectMatch 301 ^/(docs|api)/akka-persistence-r2dbc/1.1.(0-M\d)/(.*)$ https://doc.akka.io/$1/akka-persistence-r2dbc/1.1.0/$2

# Enno 2023-06-07
RedirectMatch 301 ^/(docs|api)/akka-grpc/0.\d.\d/(.*)$ https://doc.akka.io/$1/akka-grpc/1.0.3/$2
RedirectMatch 301 ^/(docs|api)/akka-grpc/1.0.(0|0-M1|1|2)/(.*)$ https://doc.akka.io/$1/akka-grpc/1.0.3/$2
RedirectMatch 301 ^/(docs|api)/akka-grpc/1.1.(0|0-M\d)/(.*)$ https://doc.akka.io/$1/akka-grpc/1.1.1/$2
RedirectMatch 301 ^/(docs|api)/akka-grpc/2.0.(0-M\d)/(.*)$ https://doc.akka.io/$1/akka-grpc/2.0.0/$2
RedirectMatch 301 ^/(docs|api)/akka-grpc/2.1.(0|0-M\d|1|2|3|4|5)/(.*)$ https://doc.akka.io/$1/akka-grpc/2.1.6/$2
RedirectMatch 301 ^/(docs|api)/akka-grpc/2.2.(0|0-M\d)/(.*)$ https://doc.akka.io/$1/akka-grpc/2.2.1/$2
RedirectMatch 301 ^/(docs|api)/akka-grpc/2.3.(0-M\d)/(.*)$ https://doc.akka.io/$1/akka-grpc/2.3.2/$2

# Johan 2023-06-07 drop a bunch of patch and milestone versions
RedirectMatch 301 ^/(docs|api|japi)/akka-http/10.1.\d+/(.*)$ https://doc.akka.io/$1/akka-http/10.1/$2
RedirectMatch 301 ^/(docs|api|japi)/akka/2.6.\d+/(.*)$ https://doc.akka.io/$1/akka/2.6/$2

<FilesMatch "paradox\.json">
    <IfModule mod_expires.c>
        ExpiresActive Off
    </IfModule>
    <IfModule mod_headers.c>
        FileETag None
        Header unset ETag
        Header unset Pragma
        Header unset Cache-Control
        Header unset Last-Modified
        Header set Pragma "no-cache"
        Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
        Header set Expires "Thu, 1 Jan 1970 00:00:00 GMT"
    </IfModule>
</FilesMatch>
