# Enno 2019-03-15
# the main Scaladoc compensation rule: if "akka" appears twice, ignore the bit up to the second "akka"
# updated 2019-03-25
# https://htaccess.madewithlove.be/
RedirectMatch 301 ^/api/([^/]+)/([^/]+)/akka(/.*)?/(akka/.*) https://doc.akka.io/api/$1/$2/$4
RedirectMatch 301 ^/api/([^/]+)/([^/]+)/java/lang/index.html https://docs.oracle.com/javase/8/docs/api/java/lang/package-summary.html
RedirectMatch 301 ^/api/([^/]+)/([^/]+)/java/lang/package.html https://docs.oracle.com/javase/8/docs/api/java/lang/package-summary.html
RedirectMatch 301 ^/api/([^/]+)/([^/]+)/java/io/index.html https://docs.oracle.com/javase/8/docs/api/java/io/package-summary.html
RedirectMatch 301 ^/api/([^/]+)/([^/]+)/java/io/package.html https://docs.oracle.com/javase/8/docs/api/java/io/package-summary.html
RedirectMatch 301 ^/api/([^/]+)/([^/]+)/java/util/index.html https://docs.oracle.com/javase/8/docs/api/java/util/package-summary.html
RedirectMatch 301 ^/api/([^/]+)/([^/]+)/java/util/package.html https://docs.oracle.com/javase/8/docs/api/java/util/package-summary.html
RedirectMatch 301 ^/api/([^/]+)/([^/]+)/java/util/concurrent/index.html https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/package-summary.html
RedirectMatch 301 ^/api/([^/]+)/([^/]+)/java/util/concurrent/locks/index.html https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/locks/package-summary.html
# Hit by Scaladoc bug from Alpakka API docs /Enno 2019-03-28
# was: RedirectMatch 301 ^/api/alpakka/([^/]+)/com(/.*)?/(com/.*) https://doc.akka.io/api/alpakka/$1/$3
# seems more generic as it shows for Akka (com.typesafe.sslconfig) as well /Enno 2019-05-16
RedirectMatch 301 ^/api/([^/]+)/([^/]+)/com(/.*)?/(com/.*) https://doc.akka.io/api/$1/$2/$4
RedirectMatch 301 ^/api/([^/]+)/([^/]+)/com/google/protobuf/index.html https://developers.google.com/protocol-buffers/docs/reference/java/?com/google/protobuf/package-summary.html

# Enno 2019-11-27
# patch for class `Index`
RedirectMatch 301 ^/api/akka/(2\.6(\.\d+)?)/akka/util/Index.html https://doc.akka.io/api/akka/$1/akka/util/index.html
# seen on https://doc.akka.io/api/akka/2.5.23/akka/util/ByteString.html
RedirectMatch 301 ^/api/akka/([^/]+)/scala/collection/index.html https://www.scala-lang.org/api/current/scala/collection/index.html
